<app-head
  [fullName]="candidate.fullName"
  [meta]="candidate.jobPosition">
</app-head>

<app-layout>
  <app-aside>
    <app-section name="Performance Evaluation">
      <app-soft-skills [performanceEvaluation]="performanceEvaluation"></app-soft-skills>
    </app-section>
    <app-section name="Contact">
      <app-contacts [contactsList]="contacts"></app-contacts>
    </app-section>
    <app-section name="Familiar with">
      <app-skills *ngFor="let skill of technicalSkills" [skill]="skill"></app-skills>
    </app-section>
  </app-aside>

  <app-main>
    <app-section name="About Me">
      <div [innerHTML]="candidate.aboutInfo"></div>
    </app-section>
    <app-section name="Skills Feature">
      <app-skills-chart [skills]="technicalSkills">
      </app-skills-chart>
    </app-section>
  </app-main>
</app-layout>
